
@mixin movieContainer {
  width: 12vw;
  height: 22vw;
  font-size: 1vw;
  background: #394B61;
  border-radius: 11px;
  margin: 1vw 0.6vw;
  padding-top: 1vw;
  animation: createBox .5s;
  cursor: pointer;
  .footerContainer{
    padding-left: 0.7vw;  
    .footerButton {
      width: 1.7vw;
      height: 1.7vw;
      margin-right: 0.2vw;
    }
  }
  
}

.movieListContainer {
    color: white;
    display: flex;
    flex-wrap: wrap;
    
    & .focusMovieContainer {
      @include movieContainer();
      border: 0.3vw solid #00E0FF;
      
    }
    & .notfocusedMovieContainer {
      @include movieContainer();
    }
}

@keyframes createBox {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
}