.showmovie {
  height: 0;
  font-size: 1.5vw;
  color: #d4d7dd;
  overflow: hidden;
  border-radius: 10px;
  background: #394b61;
  animation: slide 0.7s ease forwards;
  .imageContainer {
    height: 100%;
    width: 23vw;
    border-radius: 5px;
    opacity: 0;
    align-self: center;
    animation: showimage 0.5s ease forwards 1s;
  }
  .showInfo {
    position: relative;
    top: 0px;
    animation-delay: 2s;
    opacity: 0;
    animation: slideText 0.7s ease forwards 1s;
    padding: 0.7vw 0.7vw 0px 2vw;
    .progress {
      width: 8vw;
      height: 0.5vw;
      background-color: #283647;
      & .progressColor {
        background-color: #00E0FF;
      }
    }
    .movieDetails {
      font-size: 1em;
      margin-top: 1vw;
      .detailLabel {    
        margin-right: 1vw;
      }
      & span {
        margin: 0.2vw 0px;
      }
    }
    .movieDesc {
      margin-top: 1vw;
      font-size: 0.8em;
    }
  }
}

@keyframes slide {
  from {
    height: 0vw;
    opacity: 0;
  }
  to {
    height: 30vw;
    opacity: 1;
  }
}

@keyframes showimage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideText {
  from {
    top: 100px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}
