.searchContainer {
    & .searchBox {
        width: 0px !important;
        height: 35px;
        margin-top: 20px;
        font-size: 16px !important;
        background-color: #273244 !important;
        color: #273244;
        border: 0px !important;
        padding: 0px !important;
        transition: all 0.5s ease;
        &:focus {
            width: 50vw !important;
            color: white !important;
            padding: 0px 40px 0px 40px !important;
            background-color: #1A2536 !important;
            border: none !important; 
            outline: none !important;
            box-shadow: none !important;
        }
    }
}